@{
    ViewData["Title"] = "Solve";
}

<div class="text-center">
    <h1 class="display-4">This is the Solve Page.</h1>
    <form asp-action="Solve">
        <input type="text" name="input">
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
</div>